/** Global Styles **/
header{
    padding: 50px 0 !important;
    font-weight: bold;
}

footer{
    font-weight: bold;
}

section#content{
    padding: 50px 0;
}

/** Custom Styles **/
table#vehicles_table{
    
}